<button
  [type]="type()"
  [title]="title()"
  (click)="onClick.emit($event)"
  class="ring-primary box-border w-full rounded-lg !py-3 px-4 text-center text-sm font-semibold shadow-md outline-none ring-offset-2 transition-all duration-300 hover:shadow-xl focus:ring-2"
  [ngClass]="buttonClasses()"
  [disabled]="isDisabled()"
  [attr.aria-label]="ariaLabel() || label() || 'Button'">
  <div class="flex items-center justify-center gap-2">
    @if (shouldShowLeftIcon()) {
      @if (isLoading()) {
        <app-loading size="xs" />
      } @else {
        <i class="fa" [ngClass]="icon()"></i>
      }
    }
    @if (label()) {
      <span class="text-nowrap">{{ label() }}</span>
    }
    @if (shouldShowRightIcon()) {
      @if (isLoading()) {
        <app-loading size="xs" />
      } @else {
        <i class="fa" [ngClass]="icon()"></i>
      }
    }
  </div>
</button>
